* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form input {
  margin: 0 auto;
  display: block;
}

.app {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.info {
  display: block;
  margin: 5rem auto;
  text-align: center;
  font-size: 2rem;
}

.tasks {
  flex: 1;
  overflow-y: auto;
}

footer {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

footer > * {
  margin: auto 0.5rem;
}

.menu-bar {
  display: flex;
}

.menu-bar span {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

.menu-bar p {
  flex: 1;
}

.menu-bar button {
  background-color: inherit;
  padding: 0 1rem;
  margin: 0 5rem;
}